[user]
	name = Jens Bech-Sørensen
	email = jens@bechsor.no
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential